.recorder-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 485px;
  height: 85vh;

  border: solid 2px coral;
  background-color: lightcoral;
  margin: 0 auto;
  box-shadow: 2px 1px coral;
  border-radius: 8px;
  color: honeydew;
  position: relative;
}

.recorder-container .recorder-header h1 {
  margin-top: -45px;
}

.recorder-container .recorder-header p {
  font-size: 20px;
}

.recorder-container .recorder-timer {
  font-size: 80px;
  margin-top: -75px;
}

.recorder-container .recorder-button-container {
  margin-top: -25px;
}

.recorder-container .recorder-button {
  outline: 0;
  background: none;
  border: 0;
  height: 220px;
  width: 220px;
  background: #fff;
  border-radius: 50%;
  padding: 0;
  margin: 0 12px;
}

.recorder-container .playback-button {
  width: 170px;
  height: 170px;
  margin-top: 10px;
}

.recorder-container .reset-button {
  outline: 0;
  background: fixed;
  border: 0;
  font-size: 18px;
  color: honeydew;
  bottom: 30px;
  position: absolute;
}

.recorder-container .reset-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (max-width: 680px) {
  .recorder-container {
    width: 100%;
    border-radius: 0;
  }

  .recorder-container .recorder-header p {
    padding: 0 10px;
  }
}
